.contact {

    margin: 5%;

    .contact-title {

        margin-bottom: 5%;

        h3 {

            text-align: center;
            text-decoration: underline;
        }
    }

    .contact-options {

        .contact-info {

            width: 100%;

            .contact-info-option {

                margin-bottom: 5%;
                font-size: 1.2rem;

                span {

                    text-align: center;
                    color: hsl(0, 0%, 100%);
                }
            }

            svg {

                width: 1.2rem;
                height: 1.2rem;
                color: hsl(0, 0%, 100%);
                margin-right: 2%;
            }

        }
    }

    .contact-form {

        border-left: 1px solid hsl(0, 0%, 100%);
        margin-left: 2%;

        .form-element {

            width: 98%;


            .form-element-label {

                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 1rem;
                color: hsl(0, 0%, 100%);

                label {

                    color: hsl(0, 0%, 100%);
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            .form-element-input {

                width: 100%;
                height: 2rem;
                border: 1px solid hsl(0, 0%, 80%);
                border-radius: 0.25rem;
                padding: 0.5rem;
                font-size: 1rem;
                color: black;
                margin-bottom: 1rem;

                input {

                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    color: hsl(0, 0%, 0%);
                    font-size: 1rem;
                }


            }

            .form-element-textarea {

                border: 1px solid hsl(0, 0%, 80%);
                padding: 0.5rem;
                width: 100%;
            }


        }
    }
}