.categories-menu{
    
    .categories-menu-title{
        
        margin-bottom: 2rem;
    }
    
    .categories-menu-elements{
    
        ul li{

            color: hsl(0, 0%, 100%);
            font-size: 1.2rem;
            font-weight: 600;
            margin: 1rem 0;

            &:hover, &.active{

                color: hsla(0, 100%, 50%, 0.588);
                cursor: pointer;
            }
        }
    }
    
}
