.contact {

    margin: 5%;

    .contact-title {

        margin-bottom: 5%;

        h1 {

            text-align: center;
        }
    }

    .contact-options {

        margin: 0 10% 0 10%;

        .contact-info {

            margin-top: 5%;
            width: 100%;

            .contact-info-option {

                margin-bottom: 10%;
                font-size: 1.2rem;

                span {

                    color: hsl(0, 0%, 100%);
                }
            }

            svg {

                width: 1.2rem;
                height: 1.2rem;
                color: hsl(0, 0%, 100%);
                margin-right: 2%;
            }

        }
    }

    .contact-form{

        .form-button-send{

            button{

                width: 8rem;
                height: 2.5rem;
                border-radius: 10px;
                background-color: hsla(0, 0%, 0%, 0.548);
                color: hsl(0, 0%, 100%);
                border: 2px solid hsl(0, 0%, 100%);
                font-weight: 900;

                &:hover{
                    cursor: pointer;
                    color: hsl(0, 0%, 100%);
                }
            }

            
        }

            
    }



    .form-element {

        width: 100%;

        .form-element-label {

            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: hsl(0, 0%, 100%);

            label {

                color: hsl(0, 0%, 100%);
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .form-element-input {

            width: 97%;
            height: 2rem;
            border: 1px solid hsl(0, 0%, 80%);
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-size: 1rem;
            color: black;
            margin-bottom: 1rem;

            input {

                width: 97%;
                height: 100%;
                border: none;
                outline: none;
                color: hsl(0, 0%, 0%);
                font-size: 1rem;
            }


        }

        .form-element-textarea {
            padding-top: 3%;
            border: 2px solid white;
            padding: 0.5rem;
            width: 25rem;
            padding-right: 2rem;
            .ck.ck-editor__editable_inline>:last-child {

                color: black;
                min-height: 7rem;
            }
        }

    }
}