.purchases{

    padding: 2rem;

    .message-confirm{

        padding: 10rem 10rem 5rem 10rem;
        text-align: center;

        span{
            border: 2px solid rgb(0, 0, 0);
            border-radius: 10px;
            background-color: green;
            padding: 2rem;
            color: black;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .message-small{

        padding: 2rem;
        padding-bottom: 12rem;
        text-align: center;

        span{

            font-size: 1.2rem;
            color: white;
        }
    }
}