.admin-panel {

    margin: 5% 3%;

    .admin-panel-table {

        table {

            margin: auto;
            width: 100%;

            th {

                padding: 0.5rem;
                font-size: 1.2rem;
                border-bottom: 3px solid hsl(0, 0%, 100%);
                color: hsl(0, 0%, 100%);
            }

            td {

                font-weight: 300;
                padding: 0.5rem;
                text-align: center;
                color: hsl(0, 0%, 100%);

                .table-buttons {

                    display: flex;

                    .table-button-read {

                        padding-right: 0.5rem;

                        svg {

                            color: hsl(0, 0%, 100%);
                            width: 1.5rem;
                            height: 1.5rem;

                            &:hover {

                                color: hsl(0, 0%, 50%);
                                cursor: pointer;
                            }
                        }
                    }

                    .table-button-delete {

                        svg {

                            color: hsl(0, 0%, 100%);
                            width: 1.5rem;
                            height: 1.5rem;

                            &:hover {

                                color: hsl(0, 96%, 39%);
                                cursor: pointer;
                            }
                        }
                    }
                }


            }
        }
    }

    .admin-panel-form {

        border-left: 1px solid hsl(0, 0%, 100%);
        padding-left: 5%;
        margin-top: 2%;

        .form-content {

            margin: 3%;

            .form-element {

                width: 98%;


                .form-element-label {

                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
                    color: hsl(0, 0%, 100%);

                    label {

                        color: hsl(0, 0%, 100%);
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }

                .form-element-input {

                    width: 100%;
                    height: 2rem;
                    border: 1px solid hsl(0, 0%, 80%);
                    border-radius: 0.25rem;
                    padding: 0.5rem;
                    font-size: 1rem;
                    color: black;
                    margin-bottom: 1rem;

                    input {

                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        color: hsl(0, 0%, 0%);
                        font-size: 1rem;
                    }


                }


            }
        }



        .form-element-textarea {
            padding-top: 3%;
            margin-left: 10%;

            .ck.ck-editor__editable_inline>:last-child {

                color: black;
                min-height: 4rem;
            }
        }

        .form-button {

            padding-right: 0.5rem;
            width: 100%;
            display: flex;
            margin-left: auto;
            margin-bottom: 10%;


            .form-button-reset {

                button {

                    display: flex;
                    padding: 0.5rem;
                    width: 17rem;
                    border-radius: 10px 0 0 10px;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 500;
                    align-items: center;
                    justify-content: center;

                    svg {

                        width: 1.5rem;
                        height: 1.5rem;
                        padding-right: 0.5rem;
                    }



                    &:hover {

                        cursor: pointer;
                        background-color: hsl(0, 0%, 13%);
                    }
                }
            }

            .form-button-update {

                button {

                    display: flex;
                    padding: 0.5rem;
                    width: 17rem;
                    border-radius: 0 10px 10px 0;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 500;
                    align-items: center;
                    justify-content: center;

                    svg {

                        width: 1.5rem;
                        height: 1.5rem;
                        padding-right: 0.5rem;
                    }



                    &:hover {

                        cursor: pointer;
                        background-color: hsl(0, 0%, 13%);
                    }
                }
            }

        }

    }
}