.admin-panel {

    margin: 5% 3%;

    .admin-panel-table {

        margin: auto;
        width: 100%;

        .table-row.swipe-element{
        
            padding: 0.5rem;
            width: 100%;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 1rem;
            margin-bottom: 1rem;
            

            .table-field-container.swipe-front{
                
                
                .table-field{

                    span{

                        font-weight: 600;
                    }
                }
            }

            .table-buttons {

                margin: 0.5rem 0.5rem 0 auto;

                .table-button-read {

                    svg {

                        color: hsl(0, 0%, 100%);
                        width: 1.5rem;
                        height: 1.5rem;

                        &:hover {

                            color: hsl(0, 0%, 50%);
                            cursor: pointer;
                        }
                    }
                }

                .table-button-delete {

                    svg {

                        color: hsl(0, 0%, 100%);
                        width: 1.5rem;
                        height: 1.5rem;

                        &:hover {

                            color: hsl(0, 96%, 39%);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        // .table-row.swipe-element:nth-child(odd){

        // }

        // .table-row.swipe-element:nth-child(even){
            
        // }
    }

    .admin-panel-form {

        border-left: 1px solid hsl(0, 0%, 100%);
        padding-left: 5%;

        .form-content {

            margin: 3%;

            .form-element {

                width: 98%;


                .form-element-label {

                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 1rem;
                    color: hsl(0, 0%, 100%);

                    label {

                        color: hsl(0, 0%, 100%);
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }

                .form-element-input {

                    width: 100%;
                    height: 2rem;
                    border: 1px solid hsl(0, 0%, 80%);
                    border-radius: 0.25rem;
                    padding: 0.5rem;
                    font-size: 1rem;
                    color: black;
                    margin-bottom: 1rem;

                    input {

                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        color: hsl(0, 0%, 0%);
                        font-size: 1rem;
                    }


                }


            }
        }



        .form-element-textarea {
            padding-top: 3%;
            margin-left: 10%;

            .ck.ck-editor__editable_inline>:last-child {

                color: black;
                min-height: 4rem;
            }
        }

        .form-button {

            width: 100%;
            display: flex;
            margin-left: 4%;
            margin-bottom: 2%;

            .form-button-reset {

                button {

                    display: flex;
                    padding: 0.5rem;
                    width: 13rem;
                    border-radius: 10px 0 0 10px;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 500;
                    align-items: center;
                    justify-content: center;

                    svg {

                        width: 1.5rem;
                        height: 1.5rem;
                        padding-right: 0.5rem;
                    }



                    &:hover {

                        cursor: pointer;
                        background-color: hsl(0, 0%, 13%);
                    }
                }
            }

            .form-button-update {

                button {

                    display: flex;
                    padding: 0.5rem;
                    width: 13rem;
                    border-radius: 0 10px 10px 0;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 500;
                    align-items: center;
                    justify-content: center;

                    svg {

                        width: 1.5rem;
                        height: 1.5rem;
                        padding-right: 0.5rem;
                    }



                    &:hover {

                        cursor: pointer;
                        background-color: hsl(0, 0%, 13%);
                    }
                }
            }
            
            .container {
                position:absolute;
                left: 50%;
                top: 50%;
                transform:translate(-50%,-50%);
                
            }

            .button{
                padding-left: 2rem;
                display:block;
                margin-bottom: 2rem;
            }

            .switch[type="checkbox"] {
                position:relative;
                width: 6rem;
                height: 2.5rem;
                -webkit-appearance:none;
                background-color:rgba(255,255,255,.2);
                outline:none;
                border-radius:1.5rem;
                box-shadow:inset 0 0 5px rgba(0,0,0,0.3);
                transition:.5s;
            }

            .switch:checked[type="checkbox"] {
                background-color:lime;
                
            }

            .switch[type="checkbox"]::before {
                content:"";
                position: absolute;
                width: 3rem;
                height: 2.5rem;
                border-radius:1.5rem;
                top: 0;
                left: 0;
                background:white;
                transition:.5s;
                box-shadow:0 2px 5px rgba(0,0,0,.2);
                cursor: pointer;
            }
            .switch:checked[type="checkbox"]::before {
                left:3rem;
            }

            .ios[type="checkbox"]::before {
                transform:scale(.9);
            }

        }

    }
}